# This is just the minimal changes we want from the default. Retroarch will
# fill in the rest the first time it runs.

# start in fullscreen
video_fullscreen = "true"

menu_show_quit_retroarch = "true"
# Sort saves by cores
sort_savefiles_enable = "true"
sort_savestates_enable = "true"
system_directory = "~/bioses"