[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Anki
Comment=Anki
Exec=/usr/local/share/anki/anki
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false