// Starting from the dark theme (https://github.com/pmarsceill/just-the-docs/blob/master/_sass/color_schemes/dark.scss)
// I changed colors to use Github dark theme

$body-background-color: #1e2329;
$sidebar-color: #22272e;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: $blue-000;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: #2d333b;
$search-background-color: #2d333b;
$table-background-color: $grey-dk-250;
$feedback-color: lighten($sidebar-color, 10%);

// Remove scroll bouncing on OSX
html, body {
    height: 100%;
    overflow: hidden;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

// Remove footer from the sidebar, I added it back to the included footer
footer.site-footer {
    display: none;
}

// Fix highlight on yaml code blocks
.language-yaml .highlight .na {
    color: #6ea572 !important;
}
.language-yaml  .highlight .s {
    color: #92caf8 !important;
}

// Blockquote is missing style?
blockquote {
    border-left: .25em solid $nav-child-link-color;
    color: $nav-child-link-color;
    padding: 0 1em;
    margin: 0;
}

// Giscus
.giscus {
    padding-left: 2rem;
    padding-right: 2rem;
}